 [*.cs]

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = silent

# CS4014: Because this call is not awaited, execution of the current method continues before the call is completed
dotnet_diagnostic.CS4014.severity = none
